/* ----Common CSS start---- */
*{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* ----Common CSS end---- */
/* ----nav start---- */
nav{
   position: absolute;
   top: 34px;
   left: 0;
   width: 100%;
   color: #fff;
   font-family: "Inter", serif;
   font-size: 18px;
}
nav .sidebyside{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
nav .nav_item{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 60px;
}
nav ul{
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    display: contents;
    grid-template-columns: repeat(4, 1fr);
    font-family: "Inter", serif;
}
nav ul li{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
nav ul li:after{
    width: 0%;
    height: 2px;
    background-color: #fff;
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: .4s;
}
nav ul li:hover:after{
    width: 100%;
}
nav ul li:first-child{
    font-weight: 600;
}
nav .logo{
    justify-self: center;
}
nav img{
    height: 32px;
}
nav a{
    color: #fff;
    font-size: 18px;
    border: 1px solid transparent;
    padding: 16px  40px;
    border-radius: 30px;
    font-family: "Inter", serif;
    transition: .4s;
    font-weight: 500;
}
nav a:hover{
    border-color: #fff;
}
nav .button{
    justify-self: end;
}
/* ----nav end---- */
/* -------Banner Star--------- */

#banner{
    background: #394792;
    color: #fff;
    padding-top: 210px;
    padding-bottom: 135px;
}
#banner .sidebyside{
    display: grid;
    grid-template-columns: 62% 38%;
}

#banner .left h1{
    font-family: "Space Grotesk", serif;
    /* margin-top: 210px; */
    font-size: 64px;
    font-weight: 500;
    position: relative;
}
#banner .left h1 .shape{
        width: 222px;
        position: absolute;
        bottom: -15px;
        right: 25px;
}
#banner .left h1 .arrow {
    width: 91px;
    position: absolute;
    bottom: 44px;
    right: -75px;
}
#banner .left > p{
    font-size: 18px;
    font-weight: 400;
    max-width: 617px;
    font-family: "Inter", serif;
    margin-top: 32px;
    margin-right: 40px;
    line-height: 170%;
}

#banner .left a{
    color: #fff;
    font-size: 18px;
    border: 1px solid #fff;
    padding: 16px  40px;
    border-radius: 30px;
    font-family: "Inter", serif;
    transition: .4s;
    font-weight: 500;
    margin-right: 24px;
    margin-top: 40px;
}
#banner .left a:hover{
    background-color: #fff;
    color: #394792;
    transition: .4s;
}
#banner .left .info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 103px;
    width: 86px;
    gap: 80px; 
    padding-top: 56px;
}
#banner .left .info .item{
    position: relative;
}
#banner .left .info .item::after{
    position: absolute;
    top: 50%;
    right: -40px;
    width: 1px;
    height: 62px;
    background-color: rgba(255, 255, 255, .16);
    content: "";
    transform: translateY(-50%);
}
#banner .left .info .item:last-child::after{
    display: none;
}

#banner .left .info h3{
    font-size: 32px;
    font-weight: 500;
    font-family: "Space Grotesk", serif;
    color: #fff;
    
}
#banner .left .info p{
    font-size: 18px;
    font-weight: 400;
    font-family: "Inter", serif;
    color: rgb(255, 255, 255, .80);
    line-height: 150%;
    
}
#banner .right img{
    width: 115%;
    position: relative;
    left: -38px;
    top: 216px;
}
/* -------Banner End---------- */
/* ------management Start-------  */
#management{
    margin-top: 100px;
}
#management h2{
    height: 120px;
    font-family: "Space Grotesk", serif;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
}
#management h2 img{
    width: 162px;
    height: 30px;
    top: -37px;
    left: -62px;
    position: relative;
}
#management .sidebyside{
    display: grid;
    grid-template-columns: repeat(3, 379px);
    gap: 32px;
    margin-top: 64px;
}
#management .sidebyside .item img{
    width: 100%;
    font-family: "Space Grotesk", serif;
}
#management .sidebyside .item h3{
    font-family: "Space Grotesk", serif;
    font-size: 24px;
    font-weight: 500;
    margin-top: 24px;
}
#management .sidebyside .item p{
    font-family: "Inter", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 170%;
    color: #757575;
    margin-top: 16px;
    padding-bottom: 100px;
}
/* ------management End-------  */

/* -------Others Start------- */
#others{
    margin-top: 100px;
    margin-bottom: 100px;
}
#others .sidebyside{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 117px;
}
#others .sidebyside .right h2{
    width: 520px;
    height: 134px;
    font-size: 48px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -5%;
    font-family: "Space Grotesk", serif;
    padding-bottom: 24px;

}
#others .sidebyside .right h2 img{
    width: 222px;
    height: 30px;
    top: -108px;
    left: 282px;
    position: relative;
}
#others .sidebyside .right p{
    width: 522px;
    font-size: 18px;
    font-weight: 400;
    line-height: 170%;
    font-family: "Inter", serif;
    letter-spacing: -4.5%;
    color: #232323;
}
#others .right ul{
    font-family: "Inter", serif;
    font-size: 18px;
    font-weight: 500;
}
#others .right ul li{
    display: grid;
    grid-template-columns: 60px auto;
    align-items: center;
    margin-top: 32px;
    border: 1px solid rgba(128, 128, 128, .16);
    border-radius: 16px;
    padding: 13px;

}
#others .right ul img {
    width: 44px;
    height: 44px;
}
/* -------Others End------- */